.wrapper {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 20px;
  margin-bottom: 20px;
  background: #f2f2ff;
  padding: 1rem;
  border-radius: 5px;
}
.wrapper:hover .img {
  filter: sepia(0);
}

.img {
  border-radius: 100%;
  filter: sepia(90);
  transition: all 0.3s ease-in-out;
}
